/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_4_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_13_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_4.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_7_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_149.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_2_4.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_core_2_2_4.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_2_4.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_18.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_18.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_11.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_2.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_2.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_43.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_68.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_68.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_43.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_68.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_22_0.xml
/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_2_5_Final.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_7_0_1_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_3_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_5_1.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_5_1.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_openapitools_jackson_databind_nullable_0_2_0.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_common_1_6_12.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_ui_1_6_12.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_webmvc_core_1_6_12.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_7_5.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_7_5.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_4.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_23.xml
/.idea/libraries/Maven__org_webjars_swagger_ui_4_14_3.xml
/.idea/libraries/Maven__org_webjars_webjars_locator_core_0_46.xml
/.idea/libraries/Maven__org_webjars_webjars_locator_core_0_50.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_0.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_30.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/openapi-spring-angular-example.iml
/.idea/vcs.xml
/backend-generator/target/classes/com/openapi_spring_angular/api/ApiUtil.class
/backend-generator/target/classes/com/openapi_spring_angular/api/EmployeeApi.class
/backend-generator/target/classes/com/openapi_spring_angular/model/Employee.class
/backend-generator/target/generated-sources/openapi/.openapi-generator/FILES
/backend-generator/target/generated-sources/openapi/.openapi-generator/rest-schema.yaml-default.sha256
/backend-generator/target/generated-sources/openapi/.openapi-generator/VERSION
/backend-generator/target/generated-sources/openapi/src/main/java/com/openapi_spring_angular/api/ApiUtil.java
/backend-generator/target/generated-sources/openapi/src/main/java/com/openapi_spring_angular/api/EmployeeApi.java
/backend-generator/target/generated-sources/openapi/src/main/java/com/openapi_spring_angular/model/Employee.java
/backend-generator/target/maven-archiver/pom.properties
/backend-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/backend-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/backend-generator/target/contract-1.0-SNAPSHOT.jar
/backend-generator/server.iml
